<%= form_for(map_datum) do |f| %>
  <% if map_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(map_datum.errors.count, "error") %> prohibited this map_datum from being saved:</h2>

      <ul>
      <% map_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :nearestCoffeeShop %>
    <%= f.text_field :nearestCoffeeShop %>
  </div>

  <div class="field">
    <%= f.label :workDistance %>
    <%= f.text_field :workDistance %>
  </div>

  <div class="field">
    <%= f.label :nearbyDogPark %>
    <%= f.text_field :nearbyDogPark %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
