<header>
  <div>
    <img src="images/hoodq-logo.png" id="logo">
    <div class="container">
      <h2 id="title">Address Comparison Prioritizer</h2>
    </div>
  </div>
</header>

<div id="priority-section">
  <section>
    <h4>What's Important to You?</h4>
    <br>
    <p id="desc">Drag &amp; Drop! &udarr;</p>
    <div class="container" id="priority">
      <div id="sortable-ul">
        <ul id="sortable">

          <li class="ui-state-default">Nearest Coffee Shop</li>
          <li class="ui-state-default">Work Distance</li>
          <li class="ui-state-default">Nearby Dog Park</li>
        </ul>
      </div>
    </div>
  <div class="container">
    <button id='prioritize_button' onClick="myFunction()">Prioritize!</button>
  </div>
  </section>
</div>

<%= form_for(map_data_path, html: { id: 'comparison_form' }) do |f| %>
<section>
  <div class="container">
    <div class="row">
      <!--  LIST #1 -->
      <div class="col-sm-6">
        <div class="form-group" id="form">
          <%= f.select(:address_1, id: 'first') do |x| %>
            <% @json.each do |address| %>
              <%= content_tag(:option, address['address'], data: {coffee: address["nearestCoffeeShop"], work: address["workDistance"], dogpark: address["nearbyDogPark"] }) %>
            <% end %>
          <% end %>
        </div> <!-- form-group -->
      </div> <!-- col -->

      <!--  LIST #2 -->
      <div class="col-sm-6">
        <div class="form-group" id="form">
          <%= f.select(:address_2, id: 'second') do |x| %>
            <% @json.each do |address| %>
              <%= content_tag(:option, address['address'], data: {coffee: address["nearestCoffeeShop"], work: address["workDistance"], dogpark: address["nearbyDogPark"] }) %>
            <% end %>
          <% end %>
        </div> <!-- form-group -->
      </div> <!-- col -->
    </div> <!-- row -->
  </div>
      <%= f.submit 'Compare!', id: 'compare_button' %>
</section>
<% end %>

<div id="compare-boxes">
<section class="pricing" id="PRICING">
<div class="container">
    <div class="row flat_price">
        <div class="col-sm-6">
            <ul id='selection_1' class="plan wow fadeInUp animated" data-wow-duration="500ms">
                <li class="plan-name">
                    PICK #1
                </li>
                <li class="plan-price">
                    <strong class="price">Address</strong>
                </li>
                <li class="coffee">
                    Nearest Coffee Shop:
                </li>
                <li class="work">
                    Work Distance:
                </li>
                <li class="dog">
                    Nearby Dog Park:
                </li>
                <br>
            </ul>
        </div>

        <div class="col-sm-6">
            <ul id='selection_2' class="plan wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                <li class="plan-name">
                    PICK #2
                </li>
                <li class="plan-price">
                    <strong class="price">Address</strong>
                </li>

                <li class='coffee'>
                    Nearest Coffee Shop:
                </li>
                <li class="work">
                    Work Distance:
                </li>
                <li class="dog">
                    Nearby Dog Park:
                </li>
                <br>
            </ul>
        </div>
    </div><!-- END ROW -->
</div><!-- END CONTAINER -->
</section>
</div>


<footer>
  <div>
    <img src="images/neighbourhood.png" id="neighbourhood">
  </div>
</footer>
