<header>
  <div>
    <img src="images/hoodq-logo.png" id="logo">
    <div class="container">
      <h2 id="title">Address Comparison Prioritizer</h2>
    </div>
  </div>
</header>

<%= form_for(map_data_path, html: { id: 'comparison_form' }) do |f| %>

<%#= form_for map_data_new_path, url: {action: "new"}, method: :post do |f| %>
<section>
  <div class="container">
    <div class="row">
      <!--  LIST #1 -->
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.select(:address_1, id: 'first') do |x| %>
            <% @json.each do |address| %>
              <%= content_tag(:option, address['address']) %>
            <% end %>
          <% end %>
        </div> <!-- form-group -->
      </div> <!-- col -->

      <!--  LIST #2 -->
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.select(:address_2, id: 'second') do |x| %>
            <% @json.each do |address| %>
              <%= content_tag(:option, address['address']) %>
            <% end %>
          <% end %>
        </div> <!-- form-group -->
      </div> <!-- col -->
    </div> <!-- row -->
      <%= f.submit 'Compare!', id: 'compare_button' %>
  </div>
</section>
<% end %>

<hr/>


<hr/>

<section class="pricing" id="PRICING">
<div class="container">
    <div class="row flat_price">
        <div class="col-sm-6">
            <ul id='selection_1' class="plan wow fadeInUp animated" data-wow-duration="500ms">
                <li class="plan-name">
                    PICK #1
                </li>
                <li class="plan-price">
                    <strong class="price">Address</strong>
                </li>
                <li>
                    Nearest Coffee Shop:
                </li>
                <li>
                    Work Distance:
                </li>
                <li>
                    Nearby Dog Park:
                </li>
            </ul>
        </div>

        <div class="col-sm-6">
            <ul id='selection_2' class="plan wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                <li class="plan-name">
                    PICK #2
                </li>
                <li class="plan-price">
                    <strong class="price">Address</strong>
                </li>
                <li>
                    Nearest Coffee Shop:
                </li>
                <li>
                    Work Distance:
                </li>
                <li>
                    Nearby Dog Park:
                </li>
            </ul>
        </div>
    </div><!-- END ROW -->
</div><!-- END CONTAINER -->
</section>

<footer>
  <div>
    <img src="images/neighbourhood.png" id="neighbourhood">
  </div>
</footer>
